body {
  line-height: 1.5;
  padding: 4em 1em;
}

html, p, li {
  font-size: 1.1rem;
}

pre {
  font-size: 1.1rem;
  border: none;
  border-left: 2px solid #4e4e4d;
  border-radius: 0;
}

code {
  color: #888;
  background-color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

ul {
  list-style-type: circle;
}

.caption {
  font-size: 0.9rem;
}

a:link {
  /* color: lightblue; */
  color: royalblue;
}

a:active, a:visited {
  /* color: cadetblue; */
  color: palevioletred;
}

.thumbnail {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border-color: transparent;
}

/* Change the highlight colors */
::selection {
  background: royalblue; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: royalblue; /* Gecko Browsers */
  color: white;
}


.highlight {
  padding: 0.5em 0 0.5em 0;
}
