:root {
  --main-site-color: #485fc7;
  --lab137-lightish-grey: #f5f5f5;
  --max-mobile-width: 768px;
  --min-non-mobile-width: 769px;
}

a, .card-content a h3 {
  color: var(--main-site-color);
}

.navbar-brand, .hero-head, .menu-list a.is-active {
  background-color: var(--main-site-color);
}

.navbar-brand > .title{
  background-color: var(--main-site-color) !important;
  color: white;
}

figcaption {
  background-color: var(--lab137-lightish-grey);
  margin-bottom: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.math-block {
  overflow-x: scroll;
}

@media screen and (min-width: 769px) {
  .responsive-image {
    width: 50% !important;
  }

  .section.columns {
    padding: 20px;
    font-size: 1.25em !important;
  }

  .section.columns > h2 {
    font-size: 1.35em !important;
  }

  .section.columns > h3 {
    font-size: 1.30em !important;
  }
}

@media screen and (max-width: 768px) {
  .responsive-image {
    width: 100% !important;
  }

  .section {
    padding: 3rem 0.75rem !important;
  }
}

