:root {
  --main-site-color: #485fc7;
}

a, .card-content a h3 {
  color: var(--main-site-color);
}

.navbar-brand, .hero-head, .menu-list a.is-active {
  background-color: var(--main-site-color);
}

.navbar-brand > .title{
  background-color: var(--main-site-color) !important;
  color: white;
}
